<div class="box_title">
	<div class="closer"><img src="static/image/cross.gif" onclick="close_float_box()" /></div>
	关闭项目
</div>
<div class="box_container">
<div class="desp">
	<p>你确定要关闭项目 <span class="green"><?=$name?></span> 吗?</p>
	<p class="action">
		<input type="button" class="button" value="取消" onclick="close_float_box()"/>
		&nbsp;&nbsp;<input type="button" class="button" value="是的" onclick="show_float_box('?m=project&a=close&pid=<?=$pid?>')" />
	</p>
</div>
<br clear="all"/>
</div>