<div class="box_title">
	<div class="closer"><img src="static/image/cross.gif" onclick="close_float_box()" /></div>
	添加TODO
</div>
<div class="box_container">
<form action="?m=todo&a=save&pid=<?=get_current_pid()?>" method="post" id="form_todo" onsubmit="$('todo_add').onclick();return false;">
<input type="text" class="text" style="width:300px" name="todo" id="todo_box" value="<?php if($_COOKIE['__TS_LAST_TODO_TEXT']){ echo $_COOKIE['__TS_LAST_TODO_TEXT'];setcookie( '__TS_LAST_TODO_TEXT' , '' , time() - 3600000 ); } ?>"  />&nbsp;<input type="button" class="button" value="保存" onclick="if($('todo_box').value != ''){send_form_pop('form_todo');}else{$('todo_box').value='这里不能为空哦!';$('todo_box').focus();}" id="todo_add" /><br/><br/>
<img src="static/image/paperclip.gif" />&nbsp;<a href="javascript:$('todo_link').setStyle('display' ,'');void(0)">链接</a>
&nbsp;&nbsp;<img src="static/image/asterisk_orange.png" />&nbsp;<a href="javascript:$('todo_desp').setStyle('display' ,'');void(0)">备注</a>
&nbsp;&nbsp;<img src="static/image/color.gif" />&nbsp;

<a href="javascript:show_float_box('?m=todo&a=set_project&todo_page=1&text=' + encodeURIComponent( $('todo_box').value )  )"><?=get_project_name(get_current_pid())?></a>&nbsp;&nbsp;

<img src="static/image/user.gif" />&nbsp;<a href="javascript:$('todo_people').setStyle('display' ,'');void(0)">指派</a>
<span id="todo_people" style="<?php if( isset($_COOKIE['__TS_LAST_UID']) && ( $_COOKIE['__TS_LAST_UID'] == uid()  ) ) { echo 'display:none;'; } ?>
<?php if( !isset($_COOKIE['__TS_LAST_UID']) || $_COOKIE['__TS_LAST_UID'] < 1 ) { echo 'display:none;'; } ?>padding-top:5px"><select name="uid">
<?php foreach( get_people(1) as $item ) :?>
	<option value="<?=$item['id']?>" <?php if( isset($_COOKIE['__TS_LAST_UID']) && ( $_COOKIE['__TS_LAST_UID'] == $item['id']  ) ) { echo 'selected'; } ?>><?=$item['name']?></option>
<?php endforeach; ?>
</select></span>

<div id="todo_link" style="display:none;padding-top:5px"><input type="text" name="link" class="text" style="width:300px" /></div>
<div id="todo_desp" style="display:none;padding-top:5px"><textarea class="text" name="desp" style="width:300px;height:60px"></textarea></div>
</form>
</div>
<br clear="all"/>
<script>
	(function(){$('todo_box').focus()}).delay(<?=0.5*1000?>);
</script>