<?php if( is_login() ): ?>
<?php $people = get_data("SELECT * FROM user WHERE level > 0 AND id != '" . uid() . "' ORDER BY id ASC LIMIT 10"); ?>
<div class="p5">
<div class="riki_title"><strong>TODO</strong>&nbsp;<a href="javascript:if($('todo_side_link').getStyle('display') == 'none') { $('todo_side_link').setStyle('display' ,''); }else{ $('todo_side_link').setStyle('display' ,'none'); } ;void(0)" title="相关链接"><img src="static/image/paperclip.gif" /></a>&nbsp;&nbsp;<?=get_current_pid_link()?></div>
<div>
	<form action="?m=todo&a=save&pid=<?=get_current_pid()?>" method="post" id="form_todo_side" onsubmit="show_float_box('?m=todo&a=save&pid=<?=get_current_pid()?>&todo=' + encodeURIComponent( $('todo_box_side').value ));$('todo_box_side').value='';$('todo_side_link').value='';$('todo_side_link').setStyle('display' ,'none');return false;void(0)">
	<div id="todo_side_link" style="display:none;padding-bottom:5px">相关链接<input type="text" name="link" class="text" style="width:160px" /></div>	
	<input type="text" class="text" style="width:120px" name="todo" id="todo_box_side" accesskey="t" />&nbsp;<input type="button" class="button" value="添加" onclick="if($('todo_box_side').value != ''){send_form_pop('form_todo_side');$('todo_box_side').value='';}else{$('todo_box_side').value='这里不能为空哦!';$('todo_box_side').focus();}" id="todo_add_side" />
	</form>
</div>	
<br clear="all"/>	
<?php if( is_array( $people ) ): ?>
<div class="riki_title"><strong>同事</strong></div>
<?php foreach( $people as $item ):  ?>
	<div class="float_left contact" id="contact_<?=$item['id']?>">
	<?php if( in_array( $item['id'] , online_uid() ) ): ?><img src="static/image/online_icon.gif" class="online"/><?php endif; ?>	
	<center>
	<a href="javascript:show_float_box('?m=message&a=box&to_uid=<?=$item['id']?>');$('contact_<?=$item['id']?>').setStyle('background' , '');void(0)"><img src="<?=get_user_icon($item['id'])?>" class="icon" title="<?=$item['name']?>" /></a>
	<a href="?m=people&a=profile&uid=<?=$item['id']?>"><?=$item['name']?></a></center>
	</div>
<?php endforeach; ?>
<br clear="all"/>	
<?php endif; ?>
</div>	
<?php endif; ?>

